<div *ngIf="this.notesheet">
  <h2>{{ this.notesheet.title }}</h2>
  <ul>
    <li *ngFor="let question of this.notesheet.questions">{{ question }}</li>
  </ul>
  <p>{{ this.notesheet.body }}</p>
  <textarea id="title" [(ngModel)]="this.notesheet.title" row="1"></textarea>
  <textarea id="body" [(ngModel)]="this.notesheet.summary" rows="10">
  </textarea>
  <button (click)="this.saveNotesheet()">Save</button>
</div>
